/* Camera Landing Page Styles */

.camera-landing-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* Canvas */
#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

#webgi-canvas-container canvas {
  width: 100%;
  height: 100%;
}

/* Loader */
.loader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #e1dedf;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  font-size: 12px;
  top: 0;
  left: 0;
}

.progress {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 2px;
  background: #c42323;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: left;
  z-index: 10;
  margin: 0 5%;
}

/* Header */
.header {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 0;
}

.header--container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  opacity: 0;
}

.header--brand {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  user-select: none;
}

.header--menu {
  display: inline-flex;
  gap: 1em;
  align-items: center;
  list-style: none;
}

.header--menu li {
  padding: 10px 30px;
  color: black;
  transition: all 0.6s ease-in-out;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}

.header--menu li:hover {
  background: black;
  color: white;
}

/* Sections */
.section {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  user-select: none;
}

/* Hero Section */
.hero--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.hero--content {
  width: 400px;
  position: absolute;
  margin-left: 10%;
  opacity: 0;
}

.hero--content h1 {
  position: relative;
  left: -12px;
  font-style: normal;
  font-weight: 700;
  font-size: 184px;
  line-height: 76px;
  letter-spacing: -0.01em;
  color: #181818;
  margin-bottom: 60px;
}

.hero--content h2 {
  text-align: right;
  margin-right: 56px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 17px;
}

.hero--content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin-bottom: 30px;
}

.button {
  width: 194px;
  height: 60px;
  border: none;
  background-image: linear-gradient(9deg, #af0d0d, #ff9090);
  border-radius: 58px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 10px;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 6px 20px #d50f0fc3;
  transform: translateY(-3px);
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.hero--scroller--container {
  bottom: 60px;
  align-items: center;
  width: 170px;
  align-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  line-height: 3.2em;
  color: grey;
  overflow: hidden;
}

.hero--scroller {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Performance Section */
.performance--container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}

.performance--content {
  width: 400px;
  position: absolute;
  margin-right: 10%;
  opacity: 0;
}

.performance--content h1 {
  position: relative;
  left: -4px;
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 55px;
  letter-spacing: -0.01em;
  color: #be1921;
  margin-bottom: 60px;
}

.performance--content h2 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 17px;
}

.performance--content p {
  line-height: 22px;
}

/* Power Section */
.power--container {
  display: flex;
  width: 80%;
  align-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.power--content {
  width: 400px;
}

.power--content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 125px;
  line-height: 55px;
  letter-spacing: -0.01em;
  color: #be1921;
  margin-top: 32px;
  margin-bottom: 24px;
}

.power--content h2 {
  font-weight: 500;
  font-size: 17px;
}

.power--content p {
  line-height: 22px;
}

.power--features--img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

/* Autofocus Section */
.autofocus--container {
  display: flex;
  align-content: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.autofocus--content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  opacity: 0;
}

.autofocus--content p {
  width: 70%;
  text-align: center;
  line-height: 22px;
}

.autofocus--content h1 {
  font-style: normal;
  font-weight: 100;
  font-size: 85px;
  text-align: center;
  line-height: 55px;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
  width: 100%;
}

.autofocus--content h1 strong {
  font-weight: 700;
  color: #be1921;
}

/* Explore Section */
.explore--container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: flex-end;
  flex-direction: column;
  width: 100%;
}

.explore--content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10%;
}

.explore--content h1 {
  font-style: normal;
  font-weight: 100;
  font-size: 85px;
  text-align: right;
  line-height: 75px;
  letter-spacing: -0.01em;
  margin-bottom: 94px;
  width: 400px;
}

.explore--content h1 strong {
  font-weight: 700;
  color: #be1921;
}

/* Exit Container */
.exit--container {
  display: none;
  width: 100%;
  height: 100%;
  align-content: center;
  bottom: 60px;
  align-items: flex-end;
  position: fixed;
  justify-content: center;
  z-index: 11;
  pointer-events: none;
}

.button--secondary {
  border-radius: 58px;
  font-weight: 700;
  font-size: 10px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #3d3d3d;
  transition: all 0.4s ease-in-out;
  background: white;
  z-index: 2;
  padding: 10px 30px;
  border: 1px solid black;
  text-transform: uppercase;
  pointer-events: auto;
  margin-right: 10px;
  cursor: pointer;
}

.button--secondary:hover {
  color: #ffffff;
  background-color: #181818;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .hero--scroller--text {
    display: none;
  }

  .header--menu {
    display: none;
  }

  .header--container {
    justify-content: center;
  }

  .hero--container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .hero--content {
    width: 90%;
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .hero--content h1 {
    font-size: 7em;
    line-height: 1em;
    margin-bottom: 20px;
  }

  .hero--content h2 {
    text-align: center;
    margin-right: 0;
  }

  .hero--content p {
    width: 100%;
    text-align: center;
  }

  .performance--container {
    align-items: center;
  }

  .performance--content {
    width: 90%;
    margin-right: 0;
    text-align: center;
  }

  .power--content {
    width: 90%;
  }

  .power--content h1 {
    font-size: 6em;
  }

  .autofocus--content h1 {
    font-size: 3em;
    line-height: 1em;
  }

  .explore--content {
    align-items: center;
    margin-right: 0;
  }

  .explore--content h1 {
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    width: 90%;
  }
}
